---
title:
call_to_action: Contact
---

<div class="editable">
	<p>Axel Coaching provide the following services:</p>

  <ul>
    <li>Resume &amp; Cover Letter Writing</li>
    <li>LinkedIn Profile Writing</li>
    <li>Interview Preparation</li>
    <li>Job Search Coaching</li>
    <li>Follow-up Phone Consultations</li>
    <li>Packages:
        <ul>
          <li>Career Starter/Student</li>
        <li>Early Career</li>
        <li>Advanced Career</li>
        <li>International Package</li>
        <li>Work &amp; Holiday Visa Package</li>
        <li>Group Coaching Packages</li>
    </li>
  </ul>

</p>
</div>

<div class="testimonials">
	{% for testimonial in site.testimonials %}
		<blockquote class="testimonial">
			<div class="testimonial-message">{{ testimonial.content }}</div>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
