a.button, button {
  background-color: #2c4d92;
  color: white;
  padding: 10px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

li.dropdown-toggle {
  position: relative;
}

li.dropdown-toggle:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu li {
  min-width: 100%;
  white-space: nowrap;
  margin: 0;
  transition: background-color 0.3s;
  &:hover {
    background-color: $primary;
    a {
      color: white;
    }
  }
}

.dropdown-menu a {
  font-size: 1em;
  color: $dark;
  display: inline-block;
  width: 100%;
  line-height: 20px;
  padding: 10px;
  transition: color 0.2s;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.product-box {
  position: relative;
  margin-top: 20px;
}

ul.prices-buttons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    &.multi {
      width: 50%;
    }
  }
  h5 {
    margin-bottom: 10px;
  }
  a {
    width: 49%;
    max-width: 300px;
    display: inline-block;
    margin: 5px 0;
    background-color: #2c4d92;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
  }
}

.enquiry-form {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

#ebook-preview {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#page-flip {
    position: relative;
    padding: 0 0 0 300px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

#r1 {
    position: absolute;
    z-index: 2;
    -webkit-transform-origin: 1315px 500px;
    -webkit-transform: translate(-1030px, -500px) rotate(-32deg);
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
    -webkit-transition-duration: 1s;
}

#p1 {
    width: 1285px;
    height: 1388px;
    overflow: hidden;
}

#p1 > div {
    -webkit-transform-origin: 285px 0;
    -webkit-transform: translate(1030px, 500px) rotate(32deg);
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
    -webkit-transition-duration: 1s;
    width: 285px;
    height: 388px;
    background-image: url(../images/ebook-1.png);
    background-size: cover;
}

#p1 > div > div {
    width: 10px;
    height: 388px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
}

#p2 > div {
    width: 285px;
    height: 388px;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 1;
    background-image: url(../images/ebook-3.png);
    background-size: cover;
}

#r3 {
    -webkit-transform-origin: 1315px 500px;
    -webkit-transform: translate(-1030px, -500px) rotate(-32deg);
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
    -webkit-transition-duration: 1s;
    position: absolute;
    z-index: 2;
}

#s3 {
    -webkit-transform-origin: 70px 500px;
    -webkit-transform: translate(215px, -500px) rotate(-32deg) translate(40px, 0);
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
    -webkit-transition-duration: 1s;
    position: absolute;
    z-index: 1;
}

#page-flip:hover #s3 {
    -webkit-transform-origin: 325px 500px;
    -webkit-transform: translate(-40px, -500px) rotate(0deg) translate(40px, 0);
}

#sp3 {
    width: 25px;
    height: 1000px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
    -webkit-transition-property: width;
    -webkit-transition-duration: 1s;
    overflow: hidden;
}

#page-flip:hover #sp3 { width: 11px }

.s {
    width: 285px;
    height: 388px;
    position: absolute;
    overflow: hidden;
    z-index: 3;
}

#s2 {
    -webkit-transform-origin: 45px 500px;
    -webkit-transform: translate(240px, -500px) rotate(-32deg);
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
    -webkit-transition-duration: 1s;
    position: absolute;
}

#sp2 {
    width: 15px;
    height: 1000px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .18)), to(rgba(0,0,0,0)));
    overflow: hidden;
}

#s4 {
    opacity: 1;
    -webkit-transition-duration: 0.5s;
}

#page-flip:hover #s4 { opacity: 0 }

#page-flip:hover #s2 {
    -webkit-transform-origin: 300px 500px;
    -webkit-transform: translate(-15px, -500px) rotate(0deg);
}

#p3 {
    width: 1285px;
    height: 1388px;
    overflow: hidden;
}

#p3 > div {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(1255px, 500px) rotate(-32deg);
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
    -webkit-transition-duration: 1s;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .5);
    width: 285px;
    height: 388px;
    background-image: url(../images/ebook-2.png);
    background-size: cover;
    overflow: hidden;
}

#p3 > div > div {
    width: 9px;
    height: 500px;
    float: right;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0,0,0,.20)));
}

#page-flip:hover #r1 {
    -webkit-transform-origin: 1570px 500px;
    -webkit-transform: translate(-1285px, -500px) rotate(0deg);
}

#page-flip:hover #p1 > div {
    -webkit-transform-origin: 285px 0;
    -webkit-transform: translate(1285px, 500px) rotate(0deg);
}

#page-flip:hover #r3 {
    -webkit-transform-origin: 1570px 500px;
    -webkit-transform: translate(-1285px, -500px) rotate(0deg);
}

#page-flip:hover #p3 > div {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(1000px, 500px) rotate(0deg);
}

button.buy-ebook.snipcart-add-item {
  display: block;
  width: 200px;
  margin: 0 auto;
}
