---
title: Testimonials
call_to_action: Contact
layout: page
---

<div class="testimonials">
    {% for testimonial in site.testimonials %}
        <blockquote class="testimonial">
            <div class="testimonial-message">{{ testimonial.content }}</div>
            <p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}<br> {{testimonial.title}}</p>
        </blockquote>
    {% endfor %}
</div>
