---
layout: default
head:
  snipcart.html
---
<div class="product-details">

  <div class="product-description">
    <h2>{{ page.title }}</h2>

    <p>
      {{ page.content }}
    </p>

    <button class="snipcart-add-item"
      data-item-name="{{ page.title }}"
      data-item-id="{{ page.sku }}"
      data-item-image="{{ page.image }}"
      data-item-url="{{site.url}}{{ page.url }}"
      data-item-price="{{ page.price }}">
      Book it now for ${{ page.price }}
    </button>
  </div>
</div>