---
layout: default
---
<div class="product-details">

  <div class="product-description">
    <h2>{{ page.title }}</h2>

    <p>
      {{ page.content }}
    </p>

    <h3>Book now</h3>

    {% assign products = site.products | where: "category", page.title %}

    {% for product in products %}

      <div class="box product-box">

        <h4>{{product.title}}</h4>

        <p>{{product.content}}</p>

        <button class="book-product snipcart-add-item"
          data-item-name="{{ page.title }} - {{ product.title }}"
          data-item-id="{{ page.title | slugify }}-{{ product.title | slugify }}"
          data-item-image="{{ product.image }}"
          data-item-url="{{site.url}}{{ page.url }}"
          data-item-price="{{ product.price }}">
          ${{ product.price }}
        </button>

      </div>

    {% endfor %}
  </div>
</div>