---
layout: default
---
<div class="product-details">

  <div class="product-description">
    <h2>{{ page.title }}</h2>

    <p>
      {{ page.content }}
    </p>

    <h3>Book now</h3>

    {% assign products = site.products | where: "category", page.title %}

    {% for product in products %}

      <div class="box product-box">

        <h4>{{product.label}}</h4>

        <p>{{product.content}}</p>


        {% assign grouped_prices = product.prices | group_by:"level" %}
        {% assign count = grouped_prices | size %}
        <ul class="prices-buttons">

        {% if count > 1 %}
          {% assign class = "multi" %} 
        {% endif %} 

        {% for price_group in grouped_prices %}
          <li class="{{class}}">
            <h5>{{ price_group.name }}</h5>
            {% for price in price_group.items %}
              <a class="book-product" href="/contact#top">
                {{price.type}}: ${{ price.price }}
              </a>
            {% endfor %}
          </li>
        {% endfor %}
        <ul>

      </div>

    {% endfor %}
  </div>

</div>

<div class="booking-form">
  <form action='https://www.getform.org/u/b5e4d25e-07a2-4471-8a41-acf64b28d4e8' enctype="multipart/form-data" method="POST">
  
  <label for="email_address">Email Address</label>
      <input id="email_address" type="text" name="email">

      <label for="name">Name</label>
      <input id="name" type="text" name="name">

      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>

      <label for="resume">Resume</label>
      <input type="file" id="resume" name="resume" />

      <input type="submit" value="Send Enquiry">

  </form>
</div>